.footer {
    p {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 35px;
        color: #000000;
        font-weight: bold;
        font-family: "Myriad Pro";
    }

    @media screen and (max-width: 768px) {
        p {
            font-size: 16px;
            line-height: 30px;
            text-align: center;
        }
    }

    @media screen and (max-width: 480px) {
        p {
            font-size: 10px;
            line-height: 25px;
            text-align: center;
            font-weight: 800;
        }
    }
}
