
.logo2{
    margin-top: 10%;
     img{
         width: 40%;
         height: 20%;
         margin-bottom: 10%;
     }
     p{
         font-size: 15px;
         letter-spacing: 1px;
         line-height: 35px;
         color: #ffffff;
         font-weight: 500;
         font-family: "Roboto";
     }
     .social-icon {
        margin-top: 9%;
    
        i {
            margin-right: 5%;
            color: black;
            background-color: white;
            padding: 2%;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
    
            img {
                margin-top: 10%;
                align-items: center;
                width: 6%;
                height: 5%;
                transition: all 0.3s ease-in-out;
                filter: invert(0);
                padding-bottom: 5px !important;
            }
    
            &:hover,
            &:focus {
                background-color: black;
                color: white;
                border: 1px solid white;
    
                img {
                    filter: invert(1); 
                }
            }
    
            &:active {
                background-color: black !important;
                color: white !important;
                border: 1px solid white !important;
    
                img {
                    filter: invert(1) !important; 
                }
            }
        }
    }
    
 }
 .working{
     margin-top: 10%;
     text-align: justify;
     h3{
 
         font-size: 22px;
         letter-spacing: 1px;
         line-height: 40px;
         color: #ffffff;
         font-weight: 500;
         font-family: "Roboto";
         margin-bottom: 10%;
     }
     h5{
        
         color: #ffffff;
         margin-bottom: 5%;
     }
     p{
         width: 100%;
         font-size: 20px;
         letter-spacing: 1px;
         color: #ffffff;
         text-align: justify;
     }
     
 }    
 .blog{
     margin-top: 10%;
     text-align: justify;
     h3{
         font-size: 20px;
         letter-spacing: 1px;
         line-height: 35px;
         color: white;
         font-weight: 500;
         font-family: "Roboto";
         margin-bottom: 10%;
     }
     .blog-post {
        display: flex;
        .img1 {
            width: 89%;
            height: 25%;
        }
        p {
            color:  #999999;
            opacity: 1;
            font-weight: 500;
            margin-left: 5%;
            font-size: 14px;
            font-family: "Roboto";
            
            span {
                color: rgb(255, 255, 255); 
                font-weight: bold; 
            }
        }
        h3 {
            color: white !important; 
            font-size: 5px;
        }
        .img2 {
            display: flex;
            margin-top: -80%;
            img {
                margin-top: 0%;
                width: 85%;
                height: 35%;
            }
            h3 {
                font-size: 5px;
            }
        }
    }
    
 }
 @media screen and (max-width: 1200px) {
    .logo2 {
        margin-top: 5%;
        text-align: center;
    }

    .logo2 img {
        width: 30%;
        height: auto;
        margin-bottom: 5%;
    }

    .logo2 p {
        font-size: 14px;
        line-height: 28px;
    }

    .logo2 .social-icon {
        margin-top: 0%;
     
    }

    .logo2 .social-icon i {
        margin-right: 3%;
        padding: 3%;
        padding-bottom: 10px;
        padding-top: 0px;
    }

    .logo2 .social-icon img {
        width: 10%;
    }

    .working {
        margin-top: 5%;
        text-align: center;
    }

    .working h3 {
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 5%;
    }

    .working h5 {
        font-size: 16px;
        margin-bottom: 3%;
    }

    .working p {
        font-size: 18px;
        text-align: center;
    }

    .blog {
        margin-top: 5%;
    }

    .blog h3 {
        font-size: 18px;
        line-height: 30px;
        margin-left: 50px;
    }

    .blog .blog-post {
        flex-direction: row;
    }
    .blog .blog-post .img1 {
        margin-right: 10px !important;
       
    }

    .blog .blog-post p {
        font-size: 12px;
        margin-left: 0;
        margin-bottom: 0px;
    }

    .blog .blog-post .img2 {
       
        flex-direction: row;
    }

    .blog .blog-post .img2 img {
        height: 95px !important;
        width: 249px !important;
       margin-right: 10px !important;
    }
}
 @media screen and (max-width: 992px) {
    .logo2 {
        margin-top: 5%;
        text-align: center;
    }

    .logo2 img {
        width: 30%;
        height: auto;
        margin-bottom: 5%;
    }

    .logo2 p {
        font-size: 14px;
        line-height: 28px;
    }

    .logo2 .social-icon {
        margin-top: 0%;
     
    }

    .logo2 .social-icon i {
        margin-right: 3%;
       padding-top: 0;
       padding-right: 2%;
       padding-left: 2%;
       padding-bottom: 5%;
    }

    .logo2 .social-icon img {
        width: 10%;
        height: auto;
    }

    .working {
        margin-top: 5%;
        text-align: center;
    }

    .working h3 {
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 5%;
    }

    .working h5 {
        font-size: 16px;
        margin-bottom: 3%;
    }

    .working p {
        font-size: 18px;
        text-align: center;
    }

    .blog {
        margin-top: 5%;
        text-align: center;
    }

    .blog h3 {
        margin-left: -7px;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 5%;
    }

    .blog .blog-post {
        flex-direction: column;
        align-items: center;
    }

    .blog .blog-post .img1 {
        width: 30%;
        height: 30%;
        margin-bottom: 30px;
    }

    .blog .blog-post p {
        font-size: 16px;
        margin-left: 0;
        text-align: center;
        margin-bottom: 0px;
    }

    .blog .blog-post .img2 {
        flex-direction: column;
        align-items: center;
        margin-top: -10%;
    }

    .blog .blog-post .img2 img {
        width: 35% !important;
        height: 40% !important;
        margin-bottom: 5%;
    }
}


 @media screen and (max-width: 768px) {
     .logo2 {
         margin-top: 5%;
         text-align: center;
     }
 
     .logo2 img {
         width: 30%;
         height: auto;
         margin-bottom: 5%;
     }
 
     .logo2 p {
         font-size: 14px;
         line-height: 28px;
     }
 
     .logo2 .social-icon {
         margin-top: 0%;
      
     }
 
     .logo2 .social-icon i {
         margin-right: 3%;
         padding: 3%;
         padding-bottom: 25px;
         padding-top: 0px;
     }
 
     .logo2 .social-icon img {
         width: 10%;
         height: auto;
     }
 
     .working {
         margin-top: 5%;
         text-align: center;
     }
 
     .working h3 {
         font-size: 20px;
         line-height: 35px;
         margin-bottom: 5%;
     }
 
     .working h5 {
         font-size: 16px;
         margin-bottom: 3%;
     }
 
     .working p {
         font-size: 18px;
         text-align: center;
     }
 
     .blog {
         margin-top: 5%;
         text-align: center;
     }
 
     .blog h3 {
         font-size: 18px;
         line-height: 30px;
         margin-bottom: 5%;
     }
 
     .blog .blog-post {
         flex-direction: column;
         align-items: center;
     }
 
     .blog .blog-post .img1 {
         width: 30%;
         height: 30%;
         margin-bottom: 30px;
     }
 
     .blog .blog-post p {
         font-size: 16px;
         margin-left: 0;
         text-align: center;
         margin-bottom: 0px;
     }
 
     .blog .blog-post .img2 {
         flex-direction: column;
         align-items: center;
         margin-top: -10%;
     }
 
     .blog .blog-post .img2 img {
         width: 30%;
         height: 40%;
         margin-bottom: 5%;
     }
 }
 
 @media screen and (max-width: 480px) {
     .logo2 img {
         width: 40%;
     }
 
     .logo2 p {
         font-size: 12px;
         line-height: 25px;
     }
 
     .logo2 .social-icon i {
     
         margin-right: 2%;
         padding: 5%;
         padding-top: 0px;
     }
 
     .logo2 .social-icon img {
         
         height: 5%;
         width: 10%;
     }
 
     .working h3 {
         font-size: 18px;
         line-height: 30px;
     }
 
     .working p {
         font-size: 16px;
     }
 
     .blog h3 {
         font-size: 16px;
     }
 
     .blog .blog-post .img1 {
         width: 50%;
         height: 30%;
     }
 
     .blog .blog-post p {
         margin-top: 10px;
         font-size: 14px;
         
     }
 
     .blog .blog-post .img2 img {
         margin-top: -20%;
         width: 50% !important;
         height: 50% !important;
     }
 
 }