.heading{

    h4{ 
        margin-top: 5%;
        font-size: 32px;
        line-height: 25px;
        color: #000000;
        font-weight: 900;
        font-family: "Roboto";
        text-align: center;
       
    }
    hr {
        opacity: 1;
        width: 180px;
        height: 5px;
        background-color: rgb(9, 9, 9);
        border: none;
        display: inline-block;
        margin-left: 42%;
      }

      p{
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 25px;
        color: #000000;
        font-weight: 700;
        font-family: "Roboto";
        text-align: center;
      }
}

.thing{
    margin-top: 5%;
    img{
        margin-left: 0%;
        width: 15%;
        margin-bottom: 4%;
    }
    h4{
        font-size: 22px;
        line-height: 25px;
        text-transform: uppercase;
        color: #000000;
        font-weight: 700;
        font-family: "Roboto";
        text-align: center;
        margin-bottom: 5%;
    }
    p{
        margin-bottom: 5%;
    }
}