.navbar{
    
overflow-y: hidden;
.container-fluid{
    .nav_logo{
            height: 150px;
            width: 100%;
    }
}
.collapse {
    .navbar-nav {
      margin: 0 auto;
      .nav-item {
        margin: 0 40px;
        text-align: center;
        font-family: 'Times New Roman';
        font-size: 30px;
        .nav-link {
          &:hover {
           color: rgb(255, 157, 0);
          }
        }
      }
    }
    .nav-icons{
      margin-right: 40px;
      i {
          font-size: 40px;
          transition: transform 0.3s ease-in-out;
          letter-spacing: 40px;
          &:hover {
            transform: scale(1.2);
          }
        }
  }
}
}