.gifting{
    margin-top: 5%;
    text-align: center;
    &::after{
        content: "";
        display: block; 
        margin: 5px auto 0;
        width: 80px;
        height: 3px;
        background-color: rgb(0, 0, 0); 
        margin-top: 10px; 
        margin-bottom: 5%;
        
     }
}
.responsive_gift{
    .slick-slide {
        margin: 0 10px;
        
    }
       .gift{
        img{
            width: 100%;
        }  
        }
        .gift-body{
            h5{
                font-size: 20px;
                font-weight: bold;
                text-align: start;
            }
            p{
                font-size: 20px;
            }
            .add_cart{
                    background-color: black;
                    color: white;
                    width: 100%;
                    text-align: center;
                    border: none;
                    margin-bottom: 10%;
                    height: 40px;
            }
    
        }
    
}
@media (max-width:992px){
    .responsive_gift{
        .gift-body{
            h5{
                width: 100% !important;
                font-size: 15px !important;
            }
            p{
                font-size: 12px !important;
            }
            .add_cart{
                height: 5vh !important;
            }
        }
    }
}
@media (max-width:337px){
    .responsive_gift{
        .gift-body{
            h5{
                font-size: 12px !important;
            }
        }
    }
}