.footer {
    width: 100%;
    height: 70px;
    background-color: #34073f;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.info {
    padding-top: 20px;
    margin: 0 20%;
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato";
    text-align: center; 

 
    @media (max-width: 992px) {
        margin: 0 10%;
        font-size: 18px; 
    }

    @media (max-width: 768px) {
        margin: 0 5%;
        font-size: 16px; 
    }

    @media (max-width: 480px) {
        font-size: 14px; 
    }
}