
.container{
.about{
    h1{
        font-size: 30px;
        text-transform: uppercase;
        color: #34073f;
        font-weight: 400;
        font-family: "Josefin Sans";
    }
    p{
        width: 358px;
        font-size: 14px;
        line-height: 20px;
        color: #34073f;
        font-weight: 400;
        font-family: "Josefin Sans";
    }
    button{
        width: 250px;
        height: 50px;
        background-color: #34073f;
        font-size: 18px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Josefin Sans";
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: none;
        &:hover, &:focus{
         background-color: #7e3691; ;
        }
    }
}
.logo_foot{
    img{

        margin-left: 0%;
        margin-top: 25%;
        width: 350px;
    }
    
}
}
.icons-wrapper {
    display: flex; 
    align-items: center !important;
    gap: 20px; 
  }
  
  .icon-container {
    width: 90px;
    height: 90px;
    background-color: #1d191a;
    border: 0.3px solid #757575;
    transform: rotate(45deg); 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:40%;
    margin-bottom: -5px;
    img {
      filter: brightness(0) invert(1);
      width: 30px;
      height: 30px;
      transform: rotate(-45deg);
      &:hover,&:focus{
        filter: invert(50%) sepia(90%) saturate(1902%) hue-rotate(278deg) brightness(60%) contrast(91%);
      }
    }
  }

.container {
    .about {
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 14px;
      }
      button {
        width: 250px;
        font-size: 18px;
      }
    }
  
    .logo_foot {
      img {
        width: 350px;
      }
    }
  
    .icons-wrapper {
      .icon-container {
        width: 90px;
        height: 90px;
      }
    }
  }
  @media (max-width:1200px){
    .logo_foot{
      img{
        margin-left: 20% !important;
        width: 90% !important;
      }
    }
      .icons-wrapper{
        margin-left: 10% !important;
       .icon-container{
        width: 70px !important;
        height: 70px !important;
       }
      }
  }
  @media (max-width: 992px) {
    .container {
      .about {
        h1 {
          font-size: 80px !important; 
        }
        p {
            width: 100% !important;
            font-size: 20px !important; 
        }
        button {
          margin-top: 10% !important;
          margin-bottom: -10% !important;
        }
      }
  
      .logo_foot {
        img {
          width: 80% !important;
          margin-bottom: 10% !important;
          margin-left: -5% !important;
        }
      }
  
      .icons-wrapper {
        margin-bottom: 20% !important;
        .icon-container {
          width: 150px !important; 
          height: 150px !important; 
          
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .container {
      .about {
        h1 {
          font-size: 24px; 
        }
        p {
          font-size: 11px; 
        }
        button {
          width: 100%;
          max-width: 200px; 
          font-size: 15px; 
        }
      }
  
      .logo_foot {
        img {
          margin-top: 20% !important;
          width: 90%; 
        }
      }
  
      .icons-wrapper {
        .icon-container {
          width: 120px !important; 
          height: 120px !important; 
        }
      }
    }
  }
  
  @media (max-width: 576px) {
    .container {
      .about {
        h1 {
          font-size: 20px !important;
          margin-bottom: 10px !important; 
        }
        p {
          padding: 0 10px !important;
          font-size: 13px !important; 
          margin-bottom: 10% !important;
        }
        button {
          width: 100% !important; 
          max-width: 180px !important; 
          font-size: 14px !important; 
          margin-bottom: 10% !important;
          margin: 0 auto !important;
        }
      }
  
      .logo_foot {
        img {
            margin-top: 15% !important;
          width: 100%; 
        }
      }
  
      .icons-wrapper {
          margin-left: 10% !important;
        .icon-container {
          margin-bottom: 10px;
          width: 150px !important; 
          height: 150px !important; 
          img{
            margin: 0 auto !important;
            width: 30px !important;
            height: 30px !important;
          }
        }
      }
    }}
@media (max-width: 465px){
  .container{
      .icons-wrapper {
        margin-left: 10% !important;
      .icon-container {
        width: 100px !important;
        height: 100px !important;
        img{
          margin: 0 auto !important;
          width: 30px !important;
          height: 30px !important;
        }
      }
    }
}
}