@import 'variables';
@import 'mixins';

.chair {
    padding-left: 150px;
    margin-top: 65px;
    margin-bottom: -290px;
    overflow-x: hidden;

    img {
        width: 926px;
        height: 560px;
        overflow-y: hidden;
    }
}

.box {
    margin-top: 3%;
    width: 556px;
    height: 345px;
    background-color: $primary-color;
    transform: translateY(-160%);
    margin-left: 50%;
    border: 3px solid $primary-color;
    box-sizing: border-box;

    h4 {
        margin-top: 6%;
        text-align: center;
        @include text-style(30px, 400, $white, $font-family-josefin);
        text-transform: uppercase;
    }

    p {
        margin-top: 5%;
        padding: 0 90px;
        height: 142px;
        @include text-style(14px, 400, $white, $font-family-josefin);
        line-height: 20px;
        text-align: center;
        margin-bottom: 5%;
    }

    .read_BTN {
        text-align: center;

        button {
            @include button-style(300px, 70px, $white, $primary-color, $hover-color);
            margin-top: -5px;
            font-size: 18px;
            font-weight: 700;
            position: relative;
            z-index: 2;
            cursor: pointer;
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: 556px;
        height: 350px;
        background-color: transparent;
        border: 3px solid $white;
        top: 20px;
        left: -30px;
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        width: 536px;
        height: 360px;
        background-color: transparent;
        border: 3px solid $primary-color;
        top: 60px;
        left: -60px;
        z-index: -1;
    }
}
@media (max-width:1400px){
    .chair{
      margin-left: -30px;
      margin-top: 65px;
      margin-bottom: -290px;
      overflow-x: hidden;
      img{
          width: 926px;
          height: 560px;
          overflow-y: hidden;
         
      }
    }
    
      .box{
          margin-top: 3%;
          width:556px;
          height:345px;
          background-color: #34073f;
          transform: translateY(-160%);
          margin-left: 50%;
          border: 3px solid #34073f;
          box-sizing: border-box;
    
          h4{
              margin-top: 6%;
              text-align: center;
              font-size: 30px;
              text-transform: uppercase;
              color: #ffffff;
              font-weight: 400;
              font-family: "Josefin Sans";
          }
          p{  
              margin-top: 5%;
              padding: 0 90px;
              height: 142px;
              font-size: 14px;
              letter-spacing: 0px;
              line-height: 20px;
              color: #ffffff;
              font-weight: 400;
              font-family: "Josefin Sans";
              text-align: center;
              margin-bottom: 5%;
          }
          .read_BTN {
            text-align: center;
          
            button {
              display: inline-block; 
              margin: 0 auto;
              width: 300px;
              height: 70px;
              font-size: 18px;
              letter-spacing: 0;
              margin-top: -5px;
              font-weight: 700;
              font-family: "Josefin Sans";
              position: relative;
              z-index: 2;
              color: #34073f !important;
              cursor: pointer ;
              background-color: #ffffff;
              border: none;
              &:hover,
              &:active,
              &:focus {
                background-color:  #9d54a0;
                color: white;
              }
            }
          }
         
          &::before {
              content: "";
              position: absolute;
              width: 556px;
              height: 350px;
              background-color: transparent;
              border: 3px solid #ffffff;
              top: 20px;
              left: -30px;
              z-index: -1;
          }
          &::after {
              content: "";
              position: absolute;
              width: 536px;
              height: 360px;
              background-color: transparent;
              border: 3px solid #34073f;
              top: 60px;
              left: -60px;
              z-index: -1;
          }
    }
    }
    
    @media  (max-width:1200px){
    .chair{
      padding-left: 0px !important;
      margin-bottom: -40% !important;
      img{
        width: 100% !important;
        opacity: 0.5;
        
      };
    
    .box{
      margin-top: 12% !important;
      margin-left: 25% !important;
      width: 650px !important;
      height: 400px !important;
    
    
      p{
        font-size: 15px !important;
        padding: 0 60px !important;
      }
      button{
        color: #34073f !important;
        height: 50px !important;
        margin-top: 5% !important;
      }
      &::after{
        margin-top: 10px !important;
        width: 590px !important;
        height: 390px !important;
        z-index: -1;
      }
      &::before{
        height: 400px !important;
        width: 620px !important;
      }
    
    }
    }
    }
    @media  (max-width:992px){
    .chair{
      margin-bottom: -50% !important;
    
    .box{
      display: block !important;
     
      width: 70% !important;
      margin-left: 20% !important;
      margin-top: 15% !important;
      
      p{
        padding: 0 20px !important;
      }
      button{
        width: 30vw !important;
        
      }
      &::after{
        position: fixed !important;
        height:400px !important;
        width:65vw !important;
      }
      &::before{
        width: 68vw !important;
      }
    
    }
    }
    }
    
    @media(max-width:768px){
    .chair{
      margin-bottom: -70% !important;
    
    .box{
      margin-top: 18% !important;
    
    
      button{
        margin-top: 15% !important;
      }
    }
    }
    }
    
    @media(max-width:630px){
    .chair{
      margin-bottom: -80% !important;
    
    .box{
      margin-top: 120px !important;
      p{
        font-size: 12px !important;
        padding-right: 30px !important;
      }
    }
    }
    
    }
    @media(max-width:520px){
    .chair{
      margin-bottom: -80% !important;
    
    .box{
      margin-top: 14vh !important;
    
      button{
        margin-top: 20% !important;
      }
    }
    }
    }
    @media(max-width:515px){
    .chair{
      margin-bottom: -500px !important;
    
    .box{
      h4{
        font-size: 25px !important;
        margin-top: 25px !important;
        margin-bottom: 30px !important;
      }
      p{
        padding-left: 0 !important;
        font-size: 12px !important;
        padding-right: 30px !important;
      }
      button{
        margin-top: 30% !important;
      }
      margin-top: 150px !important;
      &::after{
        position: fixed !important;
        height:390px !important;
        width:65vw !important;
        margin-left: 10px !important;
      }
      &::before{
        margin-top: 0vh !important;
        width: 68vw !important;
      }
    
    }
    }
    }
    @media(max-width:445px){
    .chair{
      margin-bottom: -500px !important;
    
    .box{
      h4{
        font-size: 25px !important;
        margin-top: 25px !important;
        margin-bottom: 30px !important;
      }
      p{
        padding-left: 0 !important;
        font-size: 12px !important;
        padding-right: 20px !important;
      }
      button{
        margin-top: 20% !important;
        font-size: 15px !important;
        height: 30px !important;
      }
      margin-top: 150px !important;
      &::after{
        position: fixed !important;
        height:390px !important;
        width:65vw !important;
        margin-left: 10px !important;
      }
      &::before{
        margin-top: 0vh !important;
        width: 70vw !important;
      }
    
    }
    }
    }
    
    @media(max-width:370px){
    .chair{
    .box{
      h4{
        font-size: 20px !important;
      }
      p{
        font-size: 10px !important;
        padding-right: 40px !important;
      }
      &::after{
        position: fixed !important;
        height:390px !important;
        width:70vw !important;
        margin-top: -10px !important;
        margin-left: 10px !important;
      }
      &::before{
        margin-top: 0vh !important;
        width: 68vw !important;
      }
    
      button{
        margin-top: 30% !important;
      }
    }
    }
    }