.section1 {
    .logo {
        img {
            width: 200px;
            margin-top: 15px;
            margin-right: 0;
            padding-right: 0;
        }
    }
    .social-icon {
        margin-top: 25px;
        gap: 10px; 
        i {
            background-color: #34073f;
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0px;
            transition: background-color 0.3s ease;
            img {
                width: 60%;
                filter: invert(1);
            }
            &:hover {
                background-color: #7e3691;
            }
        }
    }
    
    .login {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        font-size: 14px;
        letter-spacing: 0px;
        color: #340d3e;
        font-family: "Helvetica Neue";
        i {
            color: #34073f;
            transition: color 0.3s ease;
        
        &:hover {
            color:  #9d54a0;
        }
    }
        span{
            a{
                font-size: 14px;
                text-decoration: none;
                color: #34073f;
                transition: color 0.3s ease;
                &:hover{
                    color:  #9d54a0;
                }
            }
        }
    }

   @media (max-width: 576px) {
    .section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo {
        display: flex;
        justify-content: center;
        img {
            width: 200px;
            margin-top: 10px;
        }
    }

    .social-icon {
        display: flex;
        flex-direction: row;
        justify-content: center !important; 
        align-items: center !important; 
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 4px;
        text-align: center;
        margin-bottom: 3%;
        img{
            width: 15px !important;
            margin-bottom: 0px !important;
        }
    }

    .login {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        font-size: 12px !important;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
}
@media (max-width:445px){
    .logo{
        margin-top: 5% !important;
    }
    .social-icon{
        margin-top: 10% !important;
            img{
                width: 20px !important;
                height: 20px !important;
                margin-bottom: 0px !important;
            }
}
}}
