// Colors
$primary-color: #34073f;
$secondary-color: #7e3691;
$hover-color: #9d54a0;
$white: #ffffff;
$black: #000000;

// Fonts
$font-family-josefin: "Josefin Sans", sans-serif;
$font-family-lato: "Lato", sans-serif;
$font-family-helvetica: "Helvetica Neue", sans-serif;
$font-family-kalinga: "Kalinga", sans-serif;
$font-family-philosopher: "Philosopher", sans-serif;
$font-family-caviar: "Caviar Dreams", sans-serif;
$font-family-great-vibes: "Great Vibes", cursive;

// Spacing
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 30px;